---
import BaseLayout from "@layouts/BaseLayout.astro";
import XPLeaderboard from "@components/XPLeaderboard.svelte";
import AddXPModal from "@components/AddXPModal.svelte";
import { displayUser } from "../lib/users/utils";
import BuyPrizeModal from "$lib/components/BuyPrizeModal.svelte";

const currentUser = await Astro.locals.currentUser();
---

<BaseLayout>
  {
    currentUser && (
      <div class="flex items-center gap-2">
        <AddXPModal mockUser={currentUser} client:idle />
        <BuyPrizeModal client:idle />
      </div>
    )
  }

  {
    currentUser && (
      <div class="text-center">
        <h1 class="text-3xl font-bold">
          Welcome, {displayUser(currentUser, false)}!
        </h1>
        <a
          href={`/users/${currentUser.id}`}
          class="text-blue-500 hover:underline"
        >
          View profile
        </a>
      </div>
    )
  }

  <div class="h-4"></div>

  <XPLeaderboard client:idle />
</BaseLayout>
