---
import BaseLayout from "@layouts/BaseLayout.astro";
import XPLeaderboard from "@components/XPLeaderboard.svelte";
import AddXPModal from "@components/AddXPModal.svelte";

const currentUser = await Astro.locals.currentUser();
---

<BaseLayout>
  {currentUser && <AddXPModal mockUser={currentUser} client:idle />}

  <div class="h-4"></div>

  <XPLeaderboard client:idle />
</BaseLayout>
