---
import { Button } from "@components/ui/button";
import {
  SignedIn,
  SignedOut,
  SignInButton,
  UserButton,
} from "@clerk/astro/components";
import ThemeToggle from "@components/ThemeToggle.svelte";
import { ShoppingCart } from "lucide-svelte";
---

<header>
  <nav class="flex px-4 py-2 gap-4">
    <SignedOut>
      <SignInButton mode="modal" asChild={true}>
        <Button>Sign In!</Button>
      </SignInButton>
    </SignedOut>

    <SignedIn>
      <UserButton />
    </SignedIn>

    <div class="grow"></div>

    <Button href="/shop" size="icon">
      <ShoppingCart />
    </Button>

    <ThemeToggle client:load />
  </nav>
</header>
